<% @subtotal = 0 %>
<% @order.line_items.each do |item| %>
  <tr>
    <td>
      <%= image_tag item.product.image, width: '100', height: '100' %>
    </td>
    <td>
      <h4><%= item.product.name %></h4>
      <br>
      <p><%= item.product.description %></p>
    </td>
    <td>
      <%= item.item_price %>
    </td>
    <td>
      <%= item.quantity %>
    </td>
    <td>
      <%= item.item_price * item.quantity %>
    </td>
  </tr>
  <% @subtotal += item.item_price * item.quantity %>
<% end %>

<tfoot>
  <tr>
    <th colspan="4">
      TOTAL:
    </th>
    <th>
      <%= @subtotal %>
    </th>
  </tr>
</tfoot>
