<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd><%= @average_rating %> <%= '⭐' * @average_rating %></dd>


        </dl>
      </div>
    </div>
    <% @reviews.each do |review| %>
    <div class="reviews">
      <h4>Review by <%= review.user.name %></h4>
      <p><%= '⭐' * review.rating %></p>
      <h5><%= review.created_at %></h5>
      <p style="word-break: break-all; width: 50rem;"><%= review.description %></p>
      <% if review.user.id == current_user.id %>
        <%= link_to fa_icon('trash'), [@product, review], method: 'delete', class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
    <% end %>
    <% if current_user %>
      <%= form_for [@product, @review] do |f| %>
        <div class="review-form">
          <div style="display: flex;">
            <%= f.text_area :description %>
          </div>
          <div style="display: flex;">
            <%= f.select :rating, [1,2,3,4,5] %>
            <%= f.submit "Submit", class: "btn" %>

          </div>

        </div>
      <% end %>
    <% end %>
  </article>

</section>
